@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
	font-family: Lato;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.9rem;
	color: #205c88;
}

h2 {
	font-size: 2.5rem;
	color: #000000;
}

:root {
	--main-component-color: #205c88;
	--main-title-color: #205c88;
	--main-font-color: #000000;
	--next-prev-button-color: #e8425c;
	--option-box-color: #d6edfd;
	--level-circle-color: #ffcd1d;
}
